<div class="container py-5" style="max-width: 500px;">
    <div class="form-container">
        <h3 class="h5 fw-bold mb-4 text-center" style="color: #ff99aa;">💌 New Trade</h3>
        <form action="/create" method="post" enctype="multipart/form-data">
            <div class="mb-4">
                <label class="small fw-bold">Twitter ID</label>
                <input type="text" name="partner_name" class="form-control" placeholder="@" required>
            </div>

            <div class="row mb-4">
                <div class="mb-3">
                    <label class="small fw-bold" style="color: #ff99aa;">譲：アーティスト名</label>
                    <input type="text" name="give_artist" class="form-control" placeholder="例：Wonbin">
                </div>
                <div class="mb-3">
                    <label class="small fw-bold" style="color: #ff99aa;">譲：トレカ詳細</label>
                    <input type="text" name="give_item" class="form-control" placeholder="例：RIIZING Ver. B盤">
                </div>

                <hr>

                <div class="mb-3">
                    <label class="small fw-bold" style="color: #00bfff;">求：アーティスト名</label>
                    <input type="text" name="get_artist" class="form-control" placeholder="例：Mark">
                </div>
                <div class="mb-3">
                    <label class="small fw-bold" style="color: #00bfff;">求：トレカ詳細</label>
                    <input type="text" name="get_item" class="form-control" placeholder="例：シーグリ 特典">
                </div>
            </div>

            <div class="mb-4">
                <label class="small fw-bold text-primary">🌍 公開設定</label>
                <select name="is_public" class="form-select border-primary">
                    <option value="false">自分だけが見る</option>
                    <option value="true">公開リストに載せる</option>
                </select>
            </div>

            <div class="mb-4">
                <label class="small fw-bold">Status</label>
                <select name="status" class="form-select">
                    <option value="交渉中">交渉中</option>
                    <option value="発送待ち">発送待ち</option>
                    <option value="受取待ち">受取待ち</option>
                    <option value="完了">完了</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mb-3">Save</button>
            <div class="text-center"><a href="/" class="small text-muted text-decoration-none">Back</a></div>
        </form>
    </div> </div>
